<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>New item - 6</key>
	<true/>
	<key>New item - 5</key>
	<integer>200</integer>
	<key>New item - 4</key>
	<date>2021-04-01T08:50:48Z</date>
	<key>New item - 2</key>
	<array/>
	<key>New item</key>
	<string>dictionary</string>
</dict>
</plist>
